altgraph==0.17.4
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
mutagen==1.47.0
numpy==1.26.1
packaging==23.2
pefile==2023.2.7
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pywin32-ctypes==0.2.2
toml==0.10.2
